@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-100;
    }
}

@layer components {
    .svg-animate {
        stroke-dashoffset: 500;
        stroke-dasharray: 500;
        animation: dash 4s linear forwards;
    }

    @keyframes dash {
        to {
            stroke-dashoffset: 0;
        }
    }
}